body{
    background-color: rgb(167, 221, 250) !important;
}
.cardWidth{
    width: 400px;
}
h1 {
    font-size: 6rem;
    font-family: monospace;
}
.grey{
    background-color: silver;
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.text-primary{
    border: dotted 1px lightslategray;
}
.text-secondary{
    border: dotted 1px lightslategray;
}
input.input{
    border: none;
}